<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">
<head th:replace="layout/base :: headerfragment">
<title id="pageTitle">Price</title>
</head>
<body>
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav th:replace="layout/base :: navfragment"></nav>
		<!-- LEFT SIDEBAR -->
		<div th:replace="layout/base :: sidebarfragment"></div>
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Welcome, Sally</h3>
							<p class="panel-subtitle">Last Login: 2018-06-26 18:01</p>
						</div>
						<div class="panel-body">
							<div class="row">
								<h3 class="panel-title">Please Enter The Ticker and Press
									Enter</h3>
								<br> <input type="text" name="ticker" id="ticker" /> <br>
								<br>
								<div id=priceDataTable>
									<br>
								</div>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
					<!-- Forecasting -->
					<div class="panel" id="Forecasting">
						<div class="panel-heading">
							<h3 class="panel-title">Forecasting</h3>
							<div class="right">
								<button type="button" class="btn-toggle-collapse">
									<i class="lnr lnr-chevron-up"></i>
								</button>
								<button type="button" class="btn-remove">
									<i class="lnr lnr-cross"></i>
								</button>
							</div>
						</div>
						<div class="panel-body">
							<a href="javascript:void(0)" class="btn btn-primary"
								id="forecasting-question"></a>
						</div>
						<div class="panel-footer">
							<div class="row"></div>
						</div>
					</div>
					<!-- End Forecasting -->
					<!-- Forecasting Results-->
					<div class="panel" id="forecastingResults">
						<div class="panel-heading">
							<h3 class="panel-title">Forecasting Results</h3>
							<div class="right">
								<button type="button" class="btn-toggle-collapse">
									<i class="lnr lnr-chevron-up"></i>
								</button>
								<button type="button" class="btn-remove">
									<i class="lnr lnr-cross"></i>
								</button>
							</div>
						</div>
						<div class="panel-body">
							<div id="UPresult"></div>
							<br>
							<div id="DOWNresult"></div>
						</div>
						<div class="panel-footer">
							<div class="row"></div>
						</div>
					</div>
					<!-- End Forecasting Results-->
				</div>
				<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
		</div>
		<div class="clearfix"></div>
		<footer th:replace="layout/base :: footerfragment">
		</footer>
	</div>
	<!-- END WRAPPER -->
	<script src="/js/price/datatable.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/vendor/chartist/js/chartist.min.js"></script>
	<script src="/js/klorofil-common.js"></script>
</body>
</html>