<!DOCTYPE HTML>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>

<title>HOME</title>

<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/css/main.css}" />
<style type="text/css">
#top, #bottom {
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;
}

#top {
	top: 0;
	background-color: orange;
}

#bottom {
	bottom: 0;
	background-color: black;
}
</style>
</head>

<body>
	<div class="wrapper">
		<!-- END NAVBAR -->
		<div class="column col-xs-8" id="top">
			<h2>Molly's Financial Forecasting Web Tool</h2>
		</div>
		<div class="column col-xs-8" id="bottom">
			<h1>About</h1>
			<h3>Molly Financial Forecasting</h3>
		</div>
		<!-- sidebar -->
		<div class="column col-xs-4" id="sidebar"></div>

	</div>

</body>
</html>